body {
    background-color: lightpink;
    font-family: 'Helvetica';
    font-size: 18px;
    margin: 0;
}

li {
    list-style: none;
}

h1, h2 {
    color:mediumvioletred;
    text-align: center;
}

nav {
     background-color: mediumvioletred;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding-block: 20px;
}

menu {
    display: flex;
    gap: 50px;
}

.logo {
    color: white;
    font-size: 24px;
}

menu li a {
    font-size: 20px;
    color: lightpink;
    text-decoration: none;
}


#gallery {
    background-color: lightpink;
    padding-block: 100px 200px;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

#welcome img {
    width: 50%;
    height: 700px;
    object-fit: cover;
}

#featured {
    background-color: antiquewhite;
    padding-block: 200px;
}

img {
    max-width: 100%;
}

#bakery-images {
    display:flex;
    gap: 50px;
    justify-content: center;
}

#bakery-images img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.modal img {
    height: 90vh;
}

.modal {
    /* !important moves the css property out of the hierarchy of importance */
    max-width: 100% !important;
    width: auto !important;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #image-carousel {
    width: 60%;
    margin: auto;
  }

  #gallery {
    padding-block: 200px;
  }
